<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{{ title }} | REPKA</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/site.css"/>
    <link rel="icon" href="../static/img/logo.png">
    <script src="../static/scripts/modernizr-2.6.2.js"></script>
</head>

<body>
<div class="container-fluid">
    <nav class="navbar navbar-expand-sm bg-dark" id="navbar">
        <a class="navbar-brand">
            <img src="../static/img/logo.png" width="30" height="30"
                 class="d-inline-block align-top" alt="Картинка репки"> REPKA
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <nav class="nav navbar-nav" id="RNAVS">
                <a class="nav-link" href="/#">Главная</a>
                <a class="nav-link" href="/components">Компоненты</a>
                <a class="nav-link" href="/projects">Проекты</a>
            </nav>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <div class="nav navbar-nav navbar-btn">
                <a class="btn btn-nav" onclick="goBack()"><img src="../static/img/back_page.png" width="25" height="25"
                                                               class="d-inline-block align-top" alt=""></a>
                <div>
                    {% if current_user.is_authenticated %}
                    <form id="logoutForm" action="/logout/" method="post" class="navbar-right">
                        <ul class="nav navbar-nav navbar-btn">
                            <li><a class="btn btn-nav" href="/logout">Выйти</a></li>
                        </ul>
                    </form>

                    {% else %}

                    <div class="nav navbar-nav navbar-btn">
                        <a class="btn btn-nav" href='/login'><img src="../static/img/humanauth.png" width="25"
                                                                  height="25" class="d-inline-block align-top" alt="">
                            Авторизация</a>
                    </div>

                    {% endif %}
                </div>
    </nav>
    <div class="row">
        <div class="col-12 col-sm-10 col-md-9 col-lg-8 col-xl-8 body-content Absolute-Center">
            {% block content %}{% endblock %}
            <hr/>
            <footer>
                <p>&copy; {{ year }} - REPKA Group</p>
            </footer>
        </div>
    </div>
</div>


<script src="../static/scripts/jquery-3.4.1.slim.min.js"></script>
<script src="../static/scripts/popper.min.js"></script>
<script src="../static/scripts/bootstrap.min.js"></script>
<script src="../static/scripts/user_scripts.js"></script>
{% block scripts %}{% endblock %}

</body>
</html>