{% extends "base.html" %}

{% block content %}
<meta charset="UTF-8">
<h2 align="center" style="padding: 15px">РАДИОКОМПОНЕНТЫ</h2>
<div class="table" align="center">
    <table class="my_table table-hover" style="border-style: solid; border-width: 3px; border-color:#0000FF;">
        <tr class="my_row" style="color:#FFFFFF; font-family: Comic Sans MS;">
            <td class="title" width="150px" bgcolor="#6667AB">№</td>
            <td class="title" width="150px" bgcolor="#6667AB">Наименование</td>
            <td class="title" width="100px" bgcolor="#6667AB" style="border: 1px solid black;">Тип</td>
            <td class="title" width="400px" bgcolor="#6667AB" align="center">Кратк. сведения</td>
            <td class="title" width="200px" bgcolor="#6667AB" align="center" style="border: 1px solid black;">ДАТАШИТ</td>
        </tr>
        {% for comp in comps %}
        <tr class="my_row">
            <td class="ordinary" bgcolor="#eeeeff" style="border: 1px solid black;">{{ comp.id }}</td>
            <td class="ordinary" bgcolor="#eeeeff" style="border: 1px solid black;">{{ comp.title.capitalize() }}</td>
            <td class="ordinary" bgcolor="#eeeeff" style="border: 1px solid black;">{{ comp.type }}</td>
            {% if comp.about %}
            <td class="ordinary" bgcolor="#eeeeff" style="border: 1px solid black;">{{ comp.about }}</td>
            {% else %}
            <td class="ordinary" bgcolor="#eeeeff" style="border: 1px solid black;" align="center">НЕТ ДАННЫХ</td>
            {% endif %}
            {% if comp.datasheet %}
            <td class="ordinary" bgcolor="#eeeeff" style="border: 1px solid black;"><a style="display: block;" href="{{ comp.datasheet }}">{{ comp.datasheet }}</a></td>
            {% else %}
            <td class="ordinary" bgcolor="#eeeeff" style="border: 1px solid black;" align="center">НЕТ ДАННЫХ</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>
<br>

{% endblock %}