{% extends "base.html" %}

{% block content %}

<h1 align="center" style="padding: 15px">ПУБЛИКАЦИИ</h1>
{% if current_user.is_authenticated %}
<div style="padding: 5px">
    <a href="news" class="btn btn-secondary">Добавить запись</a>
    <form action="" method="post" style="float: right">
        {{ form.hidden_tag() }}
        <a style="padding: 5px">{{form.is_private.label}}</a>
        <a style="padding: 5px">{{form.is_private}}</a>
        <a>{{form.submit(type="submit", class="btn btn-primary")}}</a>
    </form>
</div>

{% endif %}
{% for item in news%}
<div class="col-md6 border border-dark"
     style="padding: 15px; margin: 10px; border-radius: 10px; backdrop-filter: blur(2px); background: rgba(200, 255, 0, 0.3);">
    <h2><font face="Comic Sans MS" color="#000000"><a style="display: block;" href="/project/{{ item.id }}">{{item.title}}</a></font>
    </h2>
    <div>
        Автор - {{item.user.name}}, Дата изменения - {{item.created_date}}
    </div>
</div>
{% endfor %}
{% endblock %}