{% extends "base.html" %}

{% block content %}

<div class="border border-dark"
     style="padding: 15px; margin: 15px; border-radius: 10px; backdrop-filter: blur(5px); background: rgba(255, 255, 200, 0.6);">
    <div>
        <p style="font-size: 32px; padding: 5px"><font face="Comic Sans MS" color="#000000">{{shop['properties']['name']}}</font>
        </p>
        <p style="font-size: 20px; padding: 5px">Адрес - {{shop['properties']['CompanyMetaData']['address']}}, Время
            работы - {{shop['properties']['CompanyMetaData']['Hours']['text']}}</p>
        <p style="font-size: 20px; padding: 5px">Телефон -
            {{shop['properties']['CompanyMetaData']['Phones'][0]['formatted']}}</p>
        <a style="font-size: 20px; padding: 5px" href="{{shop['properties']['CompanyMetaData']['url']}}">
            {{shop['properties']['CompanyMetaData']['url']}}</a>
    </div>

</div>
<div class="col-md6 border border-dark" align="center"
     style="padding: 15px; margin: 15px; border-radius: 10px; backdrop-filter: blur(5px); background: rgba(255, 255, 255, 0.4);">
    <img src="../static/img/map.png" alt="Карта Яндекса">
</div>
{% endblock %}