{% extends "base.html" %}

{% block content %}
<h1 class="display-4" style="padding: 15px">Главная</h1>
<div class="box" style="float: left; padding: 1em;"><img src="../static/img/repka1.jpg" class="d-inline-block align-top" alt="Картинка репки"></div>
<div class="col-md6" style="padding: 10px; margin: 15px;">
    <p>Веб-приложение "REPKA" служит помощником для радиолюбителей, который подскажет адрес магазинов радиодеталей в
        указанном городе, поможет радиолюбителям обменяться идеями или проектами, может послужить базой данных для
        радиокомпонентов</p>
</div>
<h3 class="text-center">Найти магазин</h3>
<div class="col-md6 border border-dark"
     style="padding: 10px; margin: 15px; border-radius: 10px; backdrop-filter: blur(5px); background: rgba(255, 255, 255, 0.4);">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>{{ form.title.label }}
            {{ form.title(class="form-control") }}</p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    </form>
</div>
{% endblock %}